* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
    background-image: url("../Img/libromartillo.png");
    background-size: cover;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.text-block {
    position: absolute;
    top: 200px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 27px;
    text-align: center;
}

.footer {
    background-color:#333;
    color: white;
    text-align: center;
    padding-block: 10px;
}

.container-cards {
    display:grid;
    grid-template-columns: repeat(auto-fit , minmax(240px, 1fr));
    padding: 26px 28px;
    gap: 20px;
}

.container-contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 26px 28px;
    justify-items: center;
}

.container-video {
    justify-items: center;
    padding: 26px 28px;
    justify-content: center;
    display: flex;
}

.card {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #333;
}

.card a {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-size: 1.125em;
}

.fotuwu {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 40px;
    text-align: center;
}

.card p {
    font-size: 20px;
    text-align: center;
}

.card span {
    font-size: 20px;
    text-align: center;
}

.header {
    background-color:#333;
    padding: 25px;
}

.logo {
    height: 50px;
}

.navbar ul {
    display: flex;
    justify-content: end;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.navbar ul li a:hover {
    background-color: rgb(0, 0, 0);
}

.titulo {
    color: white;
}

.header-grid {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.container {
    width: 80%;
    margin-inline: auto;
}

.subtitulo {
    color: white;
    font-style: italic;
    font-size: 3em;
    margin-bottom: 20px;
}

.main {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-left: 80px;
}

.parrafo {
    color: white;
    font-size: 2em;
    max-width: 800px;
    margin-bottom: 20px;
}

.staff {
    color: white;
    font-style: italic;
    font-size: 3em;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.servicios {
        color: white;
        font-style: italic;
        font-size: 3em;
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: center;
}

@media only screen and (max-width: 768px) {

    .header-grid  {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;

}

.main {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-left: 0px;
}

.navbar ul {
    flex-direction: column;
    gap: 10px;
}


.titulo {
    text-align: center;
    font-size: 25px;
}

.logo {
    height: 40px;
}

.staff {
    text-align: center;
    font-size: 15px;
}

.subtitulo {
    font-size: 2em;
}

.container-contacto {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}

}
@media only screen and (max-width: 975px) {

    .container-contacto {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
    }
    }